<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035147059079-ioljpahhf7f4cod71jfevm7edge7rote.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035147059079-ioljpahhf7f4cod71jfevm7edge7rote</string>
	<key>API_KEY</key>
	<string>AIzaSyD8SAtk2hCcDS1lB7pBkhR7erZhnx535JU</string>
	<key>GCM_SENDER_ID</key>
	<string>1035147059079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapplication</string>
	<key>PROJECT_ID</key>
	<string>chatapp-9cb89</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-9cb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035147059079:ios:7817cbdb413163282f3d22</string>
</dict>
</plist>